In [1]:
import cv2
import pandas as pd
from matplotlib import pyplot as plt

import utilities as ut
%matplotlib inline

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
# noinspection PyTypeChecker
l: pd.DataFrame = pd.read_hdf("dataset.hd5",key="label")
labels_ = l.loc[(l[('type',0)]=='Car'),:].drop(columns=[('type',0)]).set_index(('filename',0)).sort_index()
labels_.index.names = ['filename']
labels_

         truncated occluded alpha    bbox                         dimensions  \
                 0        0     0       0       1       2       3          0
filename
000001         0.0        0  1.85  387.63  181.54  423.81  203.12       1.67
000002         0.0        0 -1.67  657.39  190.13  700.07  223.39       1.41
000003         0.0        0  1.55  614.24  181.78  727.31  284.77       1.57
000004         0.0        0  1.96  280.38  185.10  344.90  215.59       1.49
000004         0.0        0  1.88  365.14  184.54  406.11  205.20       1.38
...            ...      ...   ...     ...     ...     ...     ...        ...
007480         0.0        2 -2.91  382.70  179.71  495.48  219.10       1.48
007480         0.0        1 -2.90  344.07  180.05  479.10  224.15       1.49
007480         0.0        2 -0.33  749.78  170.88  917.51  243.48       1.77
007480         0.6        3 -2.42    0.00  185.93  214.05  348.86       1.56
007480         0.0        1 -2.73   57.68  178.66  341.72  285.91       1.65

                     location              rotation_y score
             1     2        0     1      2          0     0
filename
000001    1.87  3.69   -16.53  2.39  58.49       1.57   NaN
000002    1.58  4.36     3.18  2.27  34.38      -1.58   NaN
000003    1.73  4.15     1.00  1.75  13.22       1.62   NaN
000004    1.76  4.01   -15.71  2.16  38.26       1.57   NaN
000004    1.80  3.41   -15.89  2.23  51.17       1.58   NaN
...        ...   ...      ...   ...    ...        ...   ...
007480    1.63  4.10    -6.79  1.78  28.78      -3.14   NaN
007480    1.59  4.44    -7.12  1.78  26.03       3.12   NaN
007480    1.69  3.82     5.72  1.75  18.85      -0.04   NaN
007480    1.57  4.37    -6.96  1.73   7.83      -3.13   NaN
007480    1.68  3.88    -6.88  1.77  12.36       3.05   NaN

[28742 rows x 15 columns]

In [4]:
# noinspection PyTypeChecker
calibrations: pd.DataFrame = pd.read_hdf("dataset.hd5", key="calibration")
calibrations

0             P0                                                              \
              1    2         3    4    5         6         7    8    9    10
007268  721.5377  0.0  609.5593  0.0  0.0  721.5377  172.8540  0.0  0.0  0.0
001696  721.5377  0.0  609.5593  0.0  0.0  721.5377  172.8540  0.0  0.0  0.0
000422  718.3351  0.0  600.3891  0.0  0.0  718.3351  181.5122  0.0  0.0  0.0
001909  721.5377  0.0  609.5593  0.0  0.0  721.5377  172.8540  0.0  0.0  0.0
007325  721.5377  0.0  609.5593  0.0  0.0  721.5377  172.8540  0.0  0.0  0.0
...          ...  ...       ...  ...  ...       ...       ...  ...  ...  ...
003905  707.0493  0.0  604.0814  0.0  0.0  707.0493  180.5066  0.0  0.0  0.0
005065  718.3351  0.0  600.3891  0.0  0.0  718.3351  181.5122  0.0  0.0  0.0
005466  721.5377  0.0  609.5593  0.0  0.0  721.5377  172.8540  0.0  0.0  0.0
000896  721.5377  0.0  609.5593  0.0  0.0  721.5377  172.8540  0.0  0.0  0.0
002088  721.5377  0.0  609.5593  0.0  0.0  721.5377  172.8540  0.0  0.0  0.0

0       ... Tr_imu_to_velo                                                   \
        ...             3         4         5        6         7         8
007268  ...      -0.002036 -0.808676 -0.000785  0.99989 -0.014823  0.319556
001696  ...      -0.002036 -0.808676 -0.000785  0.99989 -0.014823  0.319556
000422  ...      -0.002036 -0.808676 -0.000785  0.99989 -0.014823  0.319556
001909  ...      -0.002036 -0.808676 -0.000785  0.99989 -0.014823  0.319556
007325  ...      -0.002036 -0.808676 -0.000785  0.99989 -0.014823  0.319556
...     ...            ...       ...       ...      ...       ...       ...
003905  ...      -0.002036 -0.808676 -0.000785  0.99989 -0.014823  0.319556
005065  ...      -0.002036 -0.808676 -0.000785  0.99989 -0.014823  0.319556
005466  ...      -0.002036 -0.808676 -0.000785  0.99989 -0.014823  0.319556
000896  ...      -0.002036 -0.808676 -0.000785  0.99989 -0.014823  0.319556
002088  ...      -0.002036 -0.808676 -0.000785  0.99989 -0.014823  0.319556

0
              9         10        11        12
007268  0.002024  0.014825  0.999888 -0.799723
001696  0.002024  0.014825  0.999888 -0.799723
000422  0.002024  0.014825  0.999888 -0.799723
001909  0.002024  0.014825  0.999888 -0.799723
007325  0.002024  0.014825  0.999888 -0.799723
...          ...       ...       ...       ...
003905  0.002024  0.014825  0.999888 -0.799723
005065  0.002024  0.014825  0.999888 -0.799723
005466  0.002024  0.014825  0.999888 -0.799723
000896  0.002024  0.014825  0.999888 -0.799723
002088  0.002024  0.014825  0.999888 -0.799723

[7481 rows x 81 columns]

In [9]:
images = ((8,[0]),(31,[0]),(36,[2]),(208,[0]),(149,[3]))
labels = []
calibs = []
for i in images:
    img,label,clib = ut.partly_annotate(*i)
    cv2.imwrite(f"/home/kasra/Pictures/selected/img_{i[0]}_{i[1][0]}.png",img.img)
    labels.append(label)
    calibs.append(clib)
    plt.show()
pd.concat(labels,axis=0).to_csv('/home/kasra/Pictures/selected/labels.csv')
pd.concat(calibs,axis=1).T.to_csv('/home/kasra/Pictures/selected/calibs.csv')